{
    "parser": "@typescript-eslint/parser", // Add
    "extends": [
        "next",
        "next/core-web-vitals",
        "plugin:@typescript-eslint/recommended", // Uses the recommended rules from @typescript-eslint/eslint-plugin
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
        "sourceType": "module" // Allows for the use of imports
    },
    "rules": {
        // this turns on the rule provided by this plugin, which runs Prettier from within ESLint
        "prettier/prettier": ["error", {"semi": false}],
        "react/no-unescaped-entities": "off",
        "@next/next/no-page-custom-font": "off"
    }
}
